[Unit]
Description=automine: update the gpu overclocks
Requires=display-manager.service
After=display-manager.service

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY={{$HOME}}/.Xauthority"
Environment="RIG_TYPE={{$RIG_TYPE}}"
Environment="USER_HOME={{$HOME}}"
Environment="AUTOMINE_LOG_DIR={{$AUTOMINE_LOG_DIR}}"
ExecStart=/bin/bash -c "${USER_HOME}/bin/automine/${RIG_TYPE}/overclock.py /tmp/automine/automine_config.json"
