[Unit]
Description=automine: a request from an unhealthy machine for a reboot

[Service]
ExecStartPre=/bin/bash -c "[[ -f {{$AUTOMINE_ALERT_DIR}}/overclock_on_restart.txt ]] || echo 'ONCE' > {{$AUTOMINE_ALERT_DIR}}/overclock_on_restart.txt"
ExecStart=/bin/systemctl --user start automine_wait_then_reboot.timer
