[Unit]
Description=automine:schedule: check that scan_log is running

[Timer]
OnCalendar=*-*-* *:05,10,15,20,25,30,35,40,45,50,55,0:00

[Install]
WantedBy=timer.target
