[Unit]
Description=automine: reboot after a short delay

[Service]
ExecStartPre=/bin/systemctl --user reenable automine_machine_restart.service
ExecStart=/bin/bash -c "date -u +'%Y-%%m-%dT%%H:%M:%SZ' >> {{$AUTOMINE_ALERT_DIR}}/reboot_requests.txt"
