[Unit]
Description=geth as a background service

[Service]
ExecStart=/usr/bin/geth --rpc --rpcaddr 127.0.0.1 --rpcport 8545 --rpccorsdomain * --rpcapi admin,db,eth,debug,miner,net,shh,txpool,personal,web3

[Install]
WantedBy=default.target
