[Unit]
Description=automine: the automine service with its configured overclocks
Requires=automine.service
After=automine.service

[Service]
ExecStartPre=/bin/mkdir -p /tmp/automine
ExecStart=/bin/bash -c "cp %h/bin/automine/overclock.json /tmp/automine/overclock.json"
ExecStartPost=/bin/systemctl --user disable automine_start_with_overclocks

[Install]
WantedBy=graphical.target
