[Unit]
Description=automine: a request from an unhealthy gpu for a reboot

[Service]
ExecStartPre=/bin/systemctl --user enable automine_start_with_overclocks
ExecStart=/bin/systemctl --user start automine_wait_then_reboot
