[Unit]
Description=check the condition of the gpus

[Service]
Environment="AUTOMINE_ALERT_DIR=%h/var/automine/triggers"
ExecStart=/bin/bash -c "%h/bin/automine/nvidia/gpu_health.py"
