[Unit]
Description=the screen session that runs the miner
Requires=automine_track_scan_log.timer
Before=automine_track_scan_log.timer

[Service]
Environment="RIG_TYPE={{$RIG_TYPE}}"
Type=forking
RemainAfterExit=yes
ExecStart=/bin/bash -c "%h/bin/automine/${RIG_TYPE}/launch_screen_session.sh"
ExecStop=/bin/bash -c "%h/bin/automine/common/stop_screen_session.sh"
